version: '3.8'

services:
  app:
    # Usa el Dockerfile en este directorio
    build: .
    # Mapea el puerto 80 del contenedor al puerto 8000 de tu máquina (http://localhost:8000)
    ports:
      - "8000:80"
    # Variables de entorno mínimas para Laravel
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    networks:
      - web_network
    restart: always

# Red para la comunicación entre contenedores (aunque solo haya uno)
networks:
  web_network:
    driver: bridge